body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.rect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: rotate(-25deg);
}
.rect .small-left {
  display: flex;
  justify-content: center;
  height: 12px;
  width: 100%;
}
.coloured {
  width: 50%;
  background-color: #3766e8;
  opacity: 0.2;
}
.not-coloured {
  width: 50%;
}
.big-rect {
  width: 150%;
  height: 350px;
  background-color: #f0f0f0;
  opacity: 0.45;
}
.rect .small-right {
  display: flex;
  justify-content: center;
  height: 12px;
  width: 100%;
}
.logo {
  position: absolute;
  height: 36.02090835571289px;
  width: 160px;
  left: 40px;
  top: 40px;
  border-radius: 0px;
}
.cap {
  position: absolute;
  width: 185px;
  height: 19px;
  left: 627px;
  top: 600px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #545454;
}
